<head>
  <title><%= title %></title>
</head>
<body>
  <div>Cookie passed: <%= cookie %></div>
  <div>Signed Cookie passe: <%= signedCookie %></div>
  <div>Session: <%= session %></div>
</body>
